.DetailedContainer {
  background: #5b913b92;
  border-radius: 10px;
  grid-column: span 4;
  box-shadow: 2px 1px 10px;
}
@media (max-width: 480px) 
{
  .DetailedContainer{
    border-radius: auto;
    grid-column: span 2;
  }
  .DetailedContainerImage{
    width: auto;
    height: auto;
  }
  
}
.model-embed-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  max-width: 100%;
  background-color: #003922be;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.model-embed-wrapper iframe {
  border: none;
  width: 100%;
  max-width: 600px;
  height: 400px;
  border-radius: 8px;
}


.DetailedContainerData {
  margin: 20px;
}
.DetailedContainerImage {
  width: 200px;
  height: auto;
  border-radius: 10px;
}
.CloseButton {
  align-items: center;
  display: block;
  margin: 10px auto;
  background-color: #1e5002ba;
  color: white;
}
.Modal {
  align-items: center;
  display: block;
  margin: 10px auto;
  background-color: #1e5002ba;
  color: white;
}

/* style={{background: "", borderRadius:"10px", gridColumn: "span 4", boxShadow:"2px 1px 10px"}} */
/*       <div className="DetailedContainerData" style={{margin: "20px"}}>
<img src={plant.image } alt={plant.name} className="DetailedContainerImage" style={{ width: "200px", height: "auto", borderRadius: "10px"}}/> */
/* style={{align: "Center", display:"block", margin:"10px auto"}} 
style={{align: "center", display: "block", margin:"10px auto"}}
// <div className="DetailedContainer" style={{background: "#5b913b92", borderRadius:"10px", gridColumn: "span 4", boxShadow:"2px 1px 10px", opacity:"0", maxHeight:"0", overflow: "hidden", transition:"opacity 0.5s ease,maxHeight 0.5s ease"}}>
   */
